ff = "Open Sans"

h1
  font-size: 2em; margin: .67em 0
h2
  font-size: 1.5em; margin: .75em 0
h3
  font-size: 1.17em; margin: .83em 0
h5
  font-size: .83em; margin: 1.5em 0
h6
  font-size: .75em; margin: 1.67em 0


color-0 = #444
color-1 = #0e83cd
color-2 = #888

color-bulue = #0e83cd
color-black = #444

border = 1px solid #ddd
dash-border = 2px dashed #ddd 

space-0 = 5px
space-1 = 10px
space-2 = 20px
space-3 = 30px
space-4 = 40px

mq-normal = "screen and (min-width: 768px)"
mq-mobile = "screen and (max-width: 479px)"