header.site-header
  nav.navbar
    ul.navbar
      - for (var label in config.menu)
        li
          a(href=config.root + '/' + config.menu[label])= label
    ul.navbar.pull-right
      li
        a(href=config.base_url) Home
