doctype html

html(lang="id")
  head
    include head.jade
  body
    include header.jade
    div.container
      .title
        h1
          a(href=config.root)=theme.title
        if config.subtitle
          p
            = config.subtitle
      main(class='site-main', role='main')
          block main
      include footer.jade
