doctype html

html(lang="id")
  head
    include head.jade
  body      
    include header.jade
    div.container
      .title
        h1
          a(href=config.root)=theme.title
        if config.subtitle
          p
            = config.subtitle
          span including:&nbsp;
          span
            = theme.inc_categories.join(', ')
      main(class='site-main', role='main')
          block main
      include footer.jade
    
    script(src="/bower_components/jquery/dist/jquery.min.js")
    script(src="/fancybox/jquery.fancybox.pack.js")